
.object-1 {
    z-index: 1;
    position: absolute;
    top: 20%;
    height: 150em;
    width: 250em;
    background-color: rgb(255, 243, 243);
    border-radius: 100%;
    border: 1em solid rgb(255, 255, 255)
}
.object-2 {
    z-index: 1;
    position: absolute;
    top: 87%;
    height: 100em;
    width: 110em;
    background-color: rgba(53, 176, 28, 0.403);
    /* border-radius: 100%; */
    rotate: -1deg;
}
.object-3 {
    z-index: 1;
    position: absolute;
    top: 89%;
    height: 100em;
    width: 100em;
    background-color: rgba(31, 205, 80, 0.403);
    rotate: 8deg;
    /* border-radius: 100%; */
}
.object-4 {
    z-index:1;
    position: absolute;
    top: 38.5%;
    left: 35%;
    height: 14em;
    width: 8.5em;
    background-color: rgba(255, 255, 255, 0);
    rotate: -3deg;
    /* border: 0.6em dashed rgb(242, 242, 113); */
    border-radius: 1em;
    /* border-radius: 100%; */
}
