

table {
    background-color: rgb(220, 224, 224);
    padding: 0.4em;
    max-height: 1em;
    /* border-spacing: 0em; */
    
    border-spacing: 0.4em 0em;
}


td {
    height: 1.3em;
    padding: 0.1em
}

td:nth-child(2n) {
    padding-left: 1.5em;
}